/* You can add global styles to this file, and also import other style files */
span {
  margin-right: 0.5rem;
}

html,
body {
  height: 100%; /* Hace que ocupen toda la pantalla */
  margin: 0;
}

main {
  flex: 1; /* Empuja el footer hacia abajo si hay poco contenido */
}

header {
  text-align: center;
  --pico-font-family: Pacifico, cursive;
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Organiza el layout en columnas */
.layout {
  display: flex;
  min-height: 81vh; /* Mantiene la estructura ocupando toda la pantalla */
}

/* Estilos para el menú */
.sidebar {
  width: 250px; /* Puedes ajustar el ancho */
  padding: 20px;
}

.content {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 20px;
}
